*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    background-color: antiquewhite;
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
    padding-left: 90px;
    padding-right: 200px;
    /* padding-bottom: 90px; */
}

#left{
    height: 100%;
    width: 40%;
    background-color: aqua;
}

#right{
    height: 100%;
    width: 40%;
    background-color: aquamarine;
}